<!-- Scoredboard Time & Period -->
<div class="row">
  <!-- home team recent events -->
  <div class="col s2"></div>
  <!-- home team scoreboard -->
  <div class="col s2">
    <div class="card-panel">
      <div class="center">
        <div class="card-title">{{homeTeamName}}</div>
        <span class="scoreboard_score">{{ homeScore }}</span>
      </div>
    </div>

  </div>
  <div class="col s4">
    <div class="card-panel">
      <div class="center">
        <div class="period">Period: {{ period }}</div>
        <timer #timer [timeInSeconds]="secondsPerQuarter"></timer>
      </div>
    </div>
  </div>

  <!-- visiting team scoreboard -->
  <div class="col s2">
    <div class="card-panel">
      <div class="center">
        <div class="card-title">{{visitorTeamName}}</div>
        <span class="scoreboard_score">{{ visitorScore }}</span>
      </div>
    </div>
  </div>
  <!-- visiting team recent events -->
  <div class="col s2"></div>

  <div class="row"></div>

  <div class="row">
    <!-- Home Team -->
    <div class="col s3">
      <div class="card-panel">
        <span class="card-title">Kokomo HS</span>
        <table>
          <thead>
            <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Number</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Alvin</td>
              <td class="center">1</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td class="center">2</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td class="center">3</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td class="center">3</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td class="center">3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Court -->
    <div class="col s6">
      <div class="card-panel center">
        <canvas id="myCanvas" width="504" height="300" style="border: 1px solid black;">Your browser does not support the HTML 5 Canvas.
</canvas>

</div>
</div>

<!-- Visiting Team -->
<div class="col s3">
  <div class="card-panel">
    <span class="card-title">Kokomo HS</span>
    <table>
      <thead>
        <tr>
          <th data-field="id">Name</th>
          <th data-field="name">Number</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td class="center">1</td>
        </tr>
        <tr>
          <td>Alan</td>
          <td class="center">2</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td class="center">3</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td class="center">3</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td class="center">3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="row">
  <div class="divider"></div>
</div>

<!-- Action Buttons -->
<div class="row">
  <div class="col s1"></div>

  <div class="col s10 center">
    <a class="waves-effect waves-light btn-large">Goal Tend</a>
    <a class="waves-effect waves-light btn-large">Made</a>
    <a class="waves-effect waves-light btn-large">Putback</a>
    <!-- Free throw Dropdown -->
    <a materialize="dropdown" class='dropdown-button waves-effect waves-light btn-large' data-activates='dropdown2'>Freethrow</a>
    <!-- Free throw Dropdown Options -->
    <ul id='dropdown2' class='dropdown-content'>
      <li><a>Missed</a></li>
      <li><a>Made</a></li>
      <li><a>Violation</a></li>
    </ul>
    <a class="waves-effect waves-light btn-large">Deadball</a>
  </div>

  <div class="col s1"></div>

</div>

<div class="row">

  <div class="col s1"></div>

  <div class="col s10 center">
    <!-- Foul Dropdown -->
    <a materialize="dropdown" class='dropdown-button waves-effect waves-light btn-large' data-activates='dropdown1'>Foul</a>
    <!-- Foul Dropdown Options -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a>Normal</a></li>
      <li><a>Offensive</a></li>
      <li><a>Technical</a></li>
    </ul>
    <a class="waves-effect waves-light btn-large">Jump Ball</a>
    <a class="waves-effect waves-light btn-large">Turnover</a>
    <a class="waves-effect waves-light btn-large">Steal</a>
    <a class="waves-effect waves-light btn-large">Assist Atmpt</a>
  </div>

  <div class="col s1"></div>

</div>