<div class="row">
  <div class="col s2"></div>
  <div class="col s2">Home Score</div>
  <div class="col s4">
    <div class="card-panel">
      <div class="center">
      <span class="scoreboard">00:00</span>
      </div>
    </div>
  </div>
  <div class="col s2">Visitor Score</div>
  <div class="col s2"></div>
</div>

<div class="row">
  <!-- Home Team -->
  <div class="col s3">
    <div class="card-panel">
      <span class="card-title">Kokomo HS</span>
      <table>
        <thead>
          <tr>
            <th data-field="id">Name</th>
            <th data-field="name">Number</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td class="center">1</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td class="center">2</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td class="center">3</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td class="center">3</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td class="center">3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Court -->
  <div class="col s6">
    <div class="card-panel">
      <canvas id="myCanvas" width="504" height="300" style="border: 1px solid black;"> Your browser does not support the HTML 5 Canvas.
</canvas>
</div>
</div>

<!-- Visiting Team -->
<div class="col s3">
  <div class="card-panel">
    <span class="card-title">Kokomo HS</span>
    <table>
      <thead>
        <tr>
          <th data-field="id">Name</th>
          <th data-field="name">Number</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td class="center">1</td>
        </tr>
        <tr>
          <td>Alan</td>
          <td class="center">2</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td class="center">3</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td class="center">3</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td class="center">3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="divider"></div>

<!-- Action Buttons -->
<div class="row">
  <div class="col s1"></div>

  <div class="col s10 center">
    <a class="waves-effect waves-light btn-large">Goal Tend</a>
    <a class="waves-effect waves-light btn-large">Made</a>
    <a class="waves-effect waves-light btn-large">Putback</a>
    <a class="waves-effect waves-light btn-large">Free Throw</a>
    <a class="waves-effect waves-light btn-large">Deadball</a>
  </div>

  <div class="col s1"></div>

</div>

<div class="row">

  <div class="col s1"></div>

  <div class="col s10 center">
    <a class="waves-effect waves-light btn-large">Foul</a>
    <a class="waves-effect waves-light btn-large">Jump Ball</a>
    <a class="waves-effect waves-light btn-large">Turnover</a>
    <a class="waves-effect waves-light btn-large">Steal</a>
    <a class="waves-effect waves-light btn-large">Assist Atmpt</a>
  </div>

  <div class="col s1"></div>

</div>