 <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper light-blue darken-1">
        <a href="#!" class="brand-logo">Stats</a>
        <ul class="right hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="/game">Game Module</a></li>
          <li routerLinkActive="active"><a routerLink="/team">Teams</a></li>
          <li><a>Reports</a></li>
          <li><a>Season</a></li>
          <li><a>Settings</a></li>
        </ul>
      </div>
    </nav>
  </div>
<router-outlet></router-outlet>