.idea/
**/node_modules/
typings/
npm-debug.log
build/
/etc/unwedge/test-db.sqlite
/server/express-admin/settings.json
/server/logs/
foo*

node_modules
jspm_packages
npm-debug.*
link-checker-results.txt
/webapp/app/**/*.js
/webapp/app/**/*.js.map
.js.map
/webapp/e2e/**/*.js
/webapp/e2e/**/*.js.map

/webapp/app/**.js
/webapp/app/**.js.map
